*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, pink 30%, cyan); }

.title {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem; }

.selector {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.padding-left {
  padding-left: 0.7rem; }

#canvas {
  border: 5px solid darkgreen; }

.turn-container {
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #333;
  padding: 1rem; }
  .turn-container .roll {
    background-color: #666;
    color: white;
    transition: all 0.2s;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .turn-container .roll:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transform: scaleX(1.09); }
  .turn-container .roll:active {
    cursor: pointer;
    transform: translateY(0);
    transform: scaleX(1); }
  .turn-container .chooseToken {
    padding-right: 2rem;
    padding-left: 2rem;
    color: #777;
    background-color: #666;
    transition: all 0.2s;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: scale(1); }
    .turn-container .chooseToken:hover {
      cursor: pointer;
      transform: translateY(-2px);
      transform: scaleX(1.09); }
    .turn-container .chooseToken:active {
      cursor: pointer;
      transform: translateY(0);
      transform: scaleX(1); }
  .turn-container #turn-value {
    font-size: 1.75rem; }

#turn-container__Manual {
  visibility: hidden; }

@keyframes move1 {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(25rem); }
  100% {
    transform: translateY(0); } }

@keyframes move2 {
  0% {
    transform: translateY(0); }
  30% {
    transform: translateY(17rem); }
  80% {
    transform: translateY(-10rem); }
  100% {
    transform: translateY(0); } }

svg {
  height: 35rem; }

#svg-container {
  visibility: hidden;
  border-radius: 100rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw; }

#dice1 {
  animation: move1 ease 1s infinite; }

#dice2 {
  animation: move2 ease 1s infinite; }

.player-container {
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #333;
  text-align: center; }
  .player-container:hover {
    cursor: pointer; }

.player {
  padding: 1.5rem 4rem; }

.left {
  font-size: 2.5rem; }

.token {
  padding: 0.2rem;
  font-size: 5rem;
  background-color: rgba(255, 255, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center; }
  .token__A {
    color: red; }
  .token__B {
    color: blue; }

#token__count__A {
  margin: 0 0.5rem; }

#token__count__B {
  margin: 0 0.5rem; }

.score {
  padding: 0.2rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }

input[type=number] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-right: 0.5rem; }

input[type=number] ::placeholder {
  font-family: inherit; }

.submit {
  padding: 0.2rem 0.5rem; }

#popup {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 2px;
  visibility: hidden; }
  #popup__bg {
    width: 90rem;
    height: 60rem;
    border-radius: 50%;
    opacity: 0.7;
    background-image: radial-gradient(orange 12%, yellow 25%, transparent 90%); }

#text {
  position: absolute;
  opacity: 1;
  z-index: 10; }

#gameOver {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden; }
  #gameOver__bg {
    background-image: url(../img/bg.jpg);
    width: 100vw;
    height: 100vh;
    filter: brightness(120%) blur(0.4rem);
    position: absolute;
    z-index: 2; }

#winner {
  z-index: 10;
  color: white;
  -webkit-text-stroke-color: purple;
  -webkit-text-stroke-width: 3px; }

.button {
  z-index: 10;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  background-color: #fff;
  color: purple;
  transition: all 5s;
  position: relative;
  margin-top: 4rem; }
  .button::before {
    content: "";
    display: block;
    padding: 1.5rem 0.4rem;
    height: 100%;
    border-radius: 1rem;
    width: 0%;
    position: absolute;
    background-color: purple;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all 0.8s; }
  .button:hover, .button:hover::before {
    transform: translateY(-4px);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  .button:hover::before {
    animation: enterText 1s;
    animation-fill-mode: forwards;
    color: white;
    padding: 1.5rem 4rem;
    width: 100%; }

@keyframes enterText {
  0% {
    content: ""; }
  20% {
    content: "P"; }
  30% {
    content: "Pl"; }
  40% {
    content: "Pla"; }
  50% {
    content: "Play"; }
  60% {
    content: "Play A"; }
  70% {
    content: "Play Ag"; }
  80% {
    content: "Play Aga"; }
  90% {
    content: "Play Agai"; }
  100% {
    content: "Play Again"; } }

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.turn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#svg-container, svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#player-container__A {
  position: absolute;
  top: 18vh;
  left: 16vw; }

#player-container__B {
  position: absolute;
  top: 58vh;
  left: 68vw; }
